<%- if ( user_context["bc_num_memory"].blank? and user_context["bc_num_slots"].to_i <= 2 ) or
    ( not user_context["bc_num_memory"].blank? and
      ( user_context["bc_num_memory"].end_with?('G') and user_context["bc_num_memory"][/[0-9]+/].to_i < 2 ) or
      ( user_context["bc_num_memory"].end_with?('M') and user_context["bc_num_memory"][/[0-9]+/].to_i < 2048 )
    ) %>

<style>
    .warning-box {
        background-color: #fff3cd;
        border: 1px solid #856404;
        padding: 10px;
        color: #856404;
        border-radius: 5px;
        font-size: 16px;
    }
</style>

<div class="warning-box">
    <strong>Warning:</strong> Memory requested is below minimum. Submitting job with 2GB of memory.
</div>

<%- end -%>
